[submodule "themes/omega"]
	path = themes/omega
	url = https://github.com/gethugothemes/omega-hugo.git
[submodule "themes/pico"]
	path = themes/pico
	url = https://github.com/negrel/hugo-theme-pico.git
[submodule "themes/tanka"]
	path = themes/tanka
	url = https://github.com/nanxstats/hugo-tanka.git
[submodule "themes/redgood"]
	path = themes/redgood
	url = https://github.com/urjaacharya/redgood.git
[submodule "themes/blonde"]
	path = themes/blonde
	url = https://github.com/opera7133/Blonde.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
